<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg">
        <div class="container-fluid">
          <a href="/" class="nav-brand"><img src="logo.png" alt="Healify" style="width: 50%;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto bg">
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

