<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg">
        <div class="container-fluid">
            <a href="/" class="nav-brand"><img src="healthcare.png" alt="Healify"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto bg">
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
<nav class="navbar navbar-expand-lg assistance_bar" style="border: 2px solid black;">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-box dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  REMEDIES
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-style" style="border-left-color: red;"><a class="dropdown-item" href="#">Heart</a></li>
                    <li class="dropdown-style" style="border-left-color: blue;"><a class="dropdown-item" href="#">Brain</a></li>
                    <li class="dropdown-style" style="border-left-color: yellow;"><a class="dropdown-item" href="#">Liver</a></li>
                    <li class="dropdown-style" style="border-left-color: green;"><a class="dropdown-item" href="#">Kidney</a></li>
                    <li class="dropdown-style" style="border-left-color: purple;"><a class="dropdown-item" href="#">Lungs</a></li>
                    <li class="dropdown-style" style="border-left-color: orange;"><a class="dropdown-item" href="#">General</a></li>
                </ul>
              </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-box dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  DISEASES
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li class="dropdown-style" style="border-left-color: red;">   
                  <li class="dropdown-style" style="border-left-color: blue;">  
                  <li class="dropdown-style" style="border-left-color: yellow;">
                  <li class="dropdown-style" style="border-left-color: green;"> 
                  <li class="dropdown-style" style="border-left-color: purple;">
                  <li class="dropdown-style" style="border-left-color: orange;">
                </ul>
              </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-box dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  CHANNELS
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li<li class="dropdown-style" style="border-left-color: red;"><a class="dropdown-item" href="#">Heart</a></li>
                  <li class="dropdown-style" style="border-left-color: blue;"><a class="dropdown-item" href="#">Brain</a></li>
                  <li class="dropdown-style" style="border-left-color: yellow;"><a class="dropdown-item" href="#">Liver</a></li>
                  <li class="dropdown-style" style="border-left-color: green;"><a class="dropdown-item" href="#">Kidney</a></li>
                  <li class="dropdown-style" style="border-left-color: purple;"><a class="dropdown-item" href="#">Lungs</a></li>
                  <li class="dropdown-style" style="border-left-color: orange;"><a class="dropdown-item" href="#">General</a></li>
                </ul>
              </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-box dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  ASSISTANCE
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li class="dropdown-style" style="border-left-color: red;"><a class="dropdown-item" href="#">Psychologist</a></li>
                  <li class="dropdown-style" style="border-left-color: blue;"><a class="dropdown-item" href="#">Neurologist</a></li>
                  <li class="dropdown-style" style="border-left-color: yellow;"><a class="dropdown-item" href="#">Nutritionist</a></li>
                </ul>
              </div>
        </li>
    </ul>
</nav>
