<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('partials/head'); -%>
    </head>
    <body>
        <header>
            <%- include("partials/header"); -%>
        </header>
        <p>
            Healify is dedicated to making health and wellness information accessible, understandable, and actionable so that readers can make the best possible decisions about their health.
            <br>
            Since nowadays mental health is one of the biggest and common health problem faced by in every scenario of our life and causes very severe damages such as:
            <ol id="about_list">
                <li>Reduces Produtivity</li>
                <li>Sleep Deprivation</li>
                <li>Stress, fatigue</li>
                <li>Brain Fog</li>
            </ol>
        </p>
        <p>Taking these things in consideration we are here to provide you latest health related news of the nation and the blogs to keep you updated with latest health trends.
        <br>
        We also provide you the system to get your latest mental health status.
        </p>
        <!-- <footer> -->
            
        <!-- </footer> -->
    </body>
</html>