!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("partials/head"); -%>
  </head>
  <body>
    <header>
        <%- include("partials/header"); -%>
    </header>
    <h1>Subscribe more so that you can keep up with the Trend</h1>
  </body>
</html>
