<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); -%>
</head>
<body>
    <header>
        <%- include("partials/header"); -%>
    </header>
    <div class=""></div>
    <div class="row profile-main">
        <div class="col-sm-2 col-lg-2">
            <ul class="profile-nav">
                <!-- <li class="profile-item" style="border:1px solid black;"><a class="profile-link" href="#">Personal</a></li> -->
                <li class="buttons">
                    <button onclick="location.href='/personal" style="border:1px solid black; class="profile-link">Profile</button>
                </li>
                <li class="profile-item" style="border:1px solid black;"><a class="profile-link" href="#">Content</a></li>
                <li class="profile-item" style="border:1px solid black;"><a class="profile-link" href="#">Security</a></li>
                <li class="profile-item" style="border:1px solid black;"><a class="profile-link" href="#">Subscriptions</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-lg-8 profile-section">
            
        </div>
    </div>
    <footer>
        <%- include("partials/footer"); -%>
    </footer>
</body>
</html>
