<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <header>
        <%- include("partials/header.ejs"); -%>
    </header>
    <h1 class="welcome_phrase">Congrats, now you have levelled up your health</h1>
    <img id="welcome_logo" src="signup.png" alt="Welcome Logo">
    <footer>
        <%- include("partials/footer.ejs"); -%>
    </footer>
</body>
</html>
<div>
</div>
